:root {
  --clr-primary-400: 263 45% 42%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 800;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --yellow: #ffc600;
  --black: #272727;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
body {
  place-content: center;
  min-height: 100vh;
  line-height: 2.5;
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  background-color: hsl(var(--clr-neutral-200));
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3 {
  font-weight: var(--fw-700);
}
.container {
  margin: 0 auto;
  display: table;
  margin-top: 5%;
}
.container > .css-grid, .container > .css-flexbox{
  border: 2px #52035a3d solid;
  padding: 40px;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 10px 10px 28px -7px  rgb(27 2 30 / 65%);
}
section> *:hover {
  color: rgb(231, 137, 15);
  text-shadow: rgb(27 2 30 / 65%);;
}
/* --------------------------------START of Testimonial pattern---------------------------------- */
/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

/* components */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {
  .testimonial-grid {
      grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
}

@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
  }
}

@media screen and (min-width: 54em) {
  .testimonial-grid {
      grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
  }
}

@media screen and (min-width: 75em) {
  .testimonial-grid {
      grid-template-areas:
      "one one two five"
      "three four four five";
  }
}


.testimonial.quote {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonial .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}
/* --------------------------------END of Testimonial pattern---------------------------------- */



/* --------------------------------START of Mosaic pattern---------------------------------- */
.main-content {
  flex: 1 1 80%;
  padding: 10%;
  min-height: 100vh;
}
.portfolio {
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: rgb(174 199 12);
  color: light-gray;
  font-weight: font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
}
.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.small {
  grid-row: 4 ;
  grid-column: 3;
}

.portfolio-item.tall{
  grid-row: 4 / span 3;
  grid-column: 4 / span 2;
}

.portfolio-item.wide{
  grid-row: 5 / span 2;
  grid-column: 1 / span 3;
}

.two {
  background-image: url(https://picsum.photos/200/300/);
  background-position: center;
  background-size: inherit;
  background-color: black;
  color: aliceblue;
}
.two:hover::before {
  opacity: 0.2;
}
.two:before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
/* --------------------------------END of Mosaic pattern---------------------------------- */


/* --------------------------------START of Auto Span pattern---------------------------------- */
.wrapper {
  flex: 1 1 80%;
  padding: 10%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  color: #444;
}

.box {
  background-color: rgb(174 199 12);
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.a {
grid-column: auto / span 2;
}

.k {
grid-column: auto / span 3;
}

.g {
grid-column: auto / span 2;
grid-row: auto / span 2;
}

/* --------------------------------END of Auto Span pattern---------------------------------- */

/* --------------------------------START of Basic Flexbox patterns---------------------------------- */
.content {
  margin: 0 20%;
}
.even-columns {
  display: flex;
}
.even-columns > * {
  background-color: rgb(174 199 12);
  flex-basis: 100%;
  margin: 5px;
  text-align: center;
}

.grid-ish, .sidebar {
  display: flex;
  flex-wrap: wrap;
}

.grid-ish > * {
  background-color: rgb(174 199 12);
  margin: 5px;
  text-align: center;
  flex: 1 1 100%;
}
.sidebar > * {
  background-color: rgb(174 199 12);
  margin: 5px;
  text-align: center;
}
.sidebar > *:nth-child(1) {
  flex: 1 1 60%;
  min-width: 30ch;
}
.sidebar > *:nth-child(2) {
  flex: 1 1 30%;
  min-width: 50ch;
}

/* --------------------------------END of Basic Flexbox patterns---------------------------------- */




/* --------------------------------START of Albums---------------------------------- */
.album-body{
 background-image: url("../public/Grid/images/topography.svg"),
  linear-gradient(110deg, #f93d66, #6d47d9);
background-size: 340px, auto;
min-height: calc(100vh - 100px);
margin: 50px;
/* background: white; */
background-attachment: fixed;
letter-spacing: -1px;
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
.album {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
}
.album__artwork {
  width: 100%;
}
/* ---------------------------------END of Albums--------------------------------- */


/* --------------------------------START of Image Gallery---------------------------------- */
* {
  box-sizing: border-box;
}

.image-gallery {
  padding: 50px;
  font-family: sans-serif;
  background: linear-gradient(to right, #F93D66, #6D47D9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #5e0202 2px solid;
}

.item__overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.item:hover .item__overlay {
  transform: translateY(0);
}


.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}


.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

/* --------------------------------END of Image Gallery---------------------------------- */